Q1

animals = ["cat", "dog", "rabbit", "tiger", "elephant"]

- Print "tiger" by indexing
- Print "rabbit by negative indexing
- Print "rabbit" to "elephant" by slicing

In [3]:
animals = ["cat", "dog", "rabbit", "tiger", "elephant"]
animals [3]

'tiger'

In [4]:
animals [-3]

'rabbit'

In [5]:
animals [2:5]

['rabbit', 'tiger', 'elephant']

In [ ]:
Q2.

Add "lion" to the list of animals by list method append

Remove "rabbit" from the list by list method remove

Print the updated list

In [10]:
animals = ["cat", "dog", "rabbit", "tiger", "elephant"]

animals.append("lion")
animals.remove("rabbit")

print("Updated list of animals:")
print(animals)

Updated list of animals:
['cat', 'dog', 'tiger', 'elephant', 'lion']

Q3.

basket = [["apple", "banana", "mango"], ["red", "blue", "green", "black"]]

- print list of fruits
- print list of colors
- print second fruit by negative indexing
- replace color "blue" with "white"
- print length of colors list

In [13]:
basket = [[ "apple", "banana", "mango"], ["red", "blue", "green", "black"]]
print ("fruits:", basket [0])

fruits: ['apple', 'banana', 'mango']

In [15]:
print ("fruits:", basket [1])

fruits: ['red', 'blue', 'green', 'black']

In [16]:
print (basket [0][-2])

banana

In [18]:
basket [1][1] = "white"
print (basket [1])

['red', 'white', 'green', 'black']

In [19]:
print(len(basket[1]))

4

Q4.

food = ["pizza", "burger", "fries", "burger", "pasta", "burger", "biryani", "fries]

- Add "sandwich" to the end of the list.
- Insert "biryani" at index 2.

In [24]:
food = ["pizza", "burger", "fries", "burger", "pasta", "burger", "biryani", "fries"]

In [21]:
food.append ("sandwich")

In [23]:
food

['pizza',
 'burger',
 'fries',
 'burger',
 'pasta',
 'burger',
 'biryani',
 'fries',
 'sandwich']

In [25]:
food.insert(2,"biryani")
food

['pizza',
 'burger',
 'biryani',
 'fries',
 'burger',
 'pasta',
 'burger',
 'biryani',
 'fries']

Q5.

- Sort the food list in alphabetical order
- Reverse the order of the list food

In [28]:
food.sort()
print ("food list sorted in alphabetical order:")
food

food list sorted in alphabetical order:

['biryani',
 'biryani',
 'burger',
 'burger',
 'burger',
 'fries',
 'fries',
 'pasta',
 'pizza']

In [29]:
food.reverse()
print("Food list with the order reversed:")
print(food)

Food list with the order reversed:
['pizza', 'pasta', 'fries', 'fries', 'burger', 'burger', 'burger', 'biryani', 'biryani']

Q6.

- Find the index of "pasta" and print it from the list of food
- Count how many times "pizza" appears in list food

In [32]:
food = ['sandwich', 'pizza', 'pasta', 'fries', 'fries', 'burger', 'burger', 'burger', 'biryani', 'biryani']

# Find the index of "pasta
pasta_index = food.index("pasta")
print(f"The index of 'pasta' is: {pasta_index}")

The index of 'pasta' is: 2

In [31]:
pizza_count = food.count("pizza")
print(f"The number of times 'pizza' appears is: {pizza_count}")

The number of times 'pizza' appears is: 1


- Remove "burger" (only the first one) from the list food.
- Remove the last item using pop() and print it.

In [33]:
food

['sandwich',
 'pizza',
 'pasta',
 'fries',
 'fries',
 'burger',
 'burger',
 'burger',
 'biryani',
 'biryani']

In [35]:
removed_item = food.pop()
print("\nItem removed using pop():", removed_item)
print("Final food list:")
print(food)

Item removed using pop(): biryani
Final food list:
['sandwich', 'pizza', 'pasta', 'fries', 'fries', 'burger', 'burger', 'burger', 'biryani']

Q8.

- Make a copy of the list of food and name it my_food
- Clear the original food list.

In [36]:
food

['sandwich',
 'pizza',
 'pasta',
 'fries',
 'fries',
 'burger',
 'burger',
 'burger',
 'biryani']

In [39]:
my_food = food.copy()

food.clear()

print("Original 'food' list after clearing:")
print(food)

print("\nCopied 'my_food' list:")
print(my_food)

Original 'food' list after clearing:
[]

Copied 'my_food' list:
[]

Q9.

Count nested list [1,2] by count method

data = [[1, 2],[3, 4],[1, 2],[2,4],[1, 2],[1,3,6]]

In [40]:
data = [[1, 2], [3, 4], [1, 2], [2, 4], [1, 2], [1, 3, 6]]
count_nested_list = data.count([1, 2])
print(f"The nested list [1, 2] appears {count_nested_list} times.")

The nested list [1, 2] appears 3 times.

Q10.

Replace 'cat' with 'found you'


odd_item = ['almond','peanut',['onion','potato','tomato',['apple','mango','cherry',['cat'],'banana'],'lemon',],'walnut']

In [41]:
odd_item = ['almond','peanut',['onion','potato','tomato',['apple','mango','cherry',['cat'],'banana'],'lemon',],'walnut']

odd_item[2][3][3][0] = 'found you'
print(odd_item)

['almond', 'peanut', ['onion', 'potato', 'tomato', ['apple', 'mango', 'cherry', ['found you'], 'banana'], 'lemon'], 'walnut']